 .u-section-1 {
  background-image: url("../images/weee.jpg");
  background-position: 0% 50%;
  min-height: 728px;
}

.u-section-1 .u-image-1 {
  width: 201px;
  height: 201px;
  background-image: url("../images/10eng-01.png");
  background-position: 50% 50%;
  margin: 196px auto 0 calc(((100% - 1140px) / 2) + 111px);
}

.u-section-1 .u-image-2 {
  width: 201px;
  height: 201px;
  background-image: url("../images/7eng-02-01.png");
  background-position: 50% 50%;
  margin: -201px auto 0 calc(((100% - 1140px) / 2) + 470px);
}

.u-section-1 .u-image-3 {
  width: 201px;
  height: 201px;
  background-image: url("../images/5eng-01.png");
  background-position: 50% 50%;
  margin: -201px calc(((100% - 1140px) / 2) + 99px) 0 auto;
}

.u-section-1 .u-form-1 {
  height: 148px;
  width: 1017px;
  margin-top: 34px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2) + 90px);
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  letter-spacing: 29px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  letter-spacing: 29px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  letter-spacing: 29px;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 9px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 700px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 111px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 470px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2) + 99px);
  }

  .u-section-1 .u-form-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 111px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 470px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2) + 99px);
  }

  .u-section-1 .u-form-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 111px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 339px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2) + 99px);
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + 111px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + 139px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 340px) / 2) + 99px);
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}